@tailwind base;
@tailwind components;
@tailwind utilities;

.w-90p{
    width: 75%;
    margin-right: 10%;
}
.mt-90p{
    margin-top: 5%;
    text-align: center;
}
.w-33p{
    width: 33%;
}
.w-34p{
    width: 34%;
}
.top-99p{
    top:99%;
}
.w-70p{
    width: 65%;
}
.w-60p{
    width: 60%;
}
.mt-10p{
    margin-top: 15%;
}
.min-h-550{
    min-height: 528px;
}
.w-45p{
    width: 45%;
    margin: 2.5%;
}